
/*
.home .banner {
    
background-image: url('../../images/feynman.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.home .banner {
background-image: url('../../images/feynman.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
  background-size: auto;
}

/*
.home .site-header {
    background: #ffffff;
    color: #000
}
*/
.home .banner .collection-head {
    color: #000;
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.home .site-header {
    border-bottom: none
}

/*
.home .site-header h1 a {
    color: rgba(0,0,0,0.8)
}

.home .site-header .site-header-nav-item {
    color: #000
}

.home .site-header .site-header-nav-item:hover {
    color: #000
}
*/

@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: white;
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}
